* {
    box-sizing: unset
}

form {
    width: 500px;
    border: 1px solid rgb(188, 208, 246);
    padding: 60px;
    margin: 150px auto 0 auto;
}

.error {
    padding: 8px;
    color: #FF0000;
    height: fit-content;
}

.name {
    margin: 12px 0px;
    display: flex;
}

input[type="radio"] {
    margin-left: 30px;
}

.gtinh {
    margin-top: 15px;
    padding-right: 15px;
    margin-left: 5px;
}

.ip {
    margin-left: 20px;
    border: 1px solid rgb(87, 137, 245);
}

.khoa,
.date {
    width: 30%;
    padding: 5px;
}

.lab {
    background: rgb(87, 137, 245);
    padding: 8px 10px;
    border: 2px solid blue;
    width: 25%;
    display: block;
    color: white;
}

.inp {
    margin-left: 20px;
    width: 60%;
    border: 1px solid rgb(87, 137, 245);
}

.dki {
    background: rgb(87, 137, 245);
    padding: 8px 10px;
    border: solid 2px rgb(154, 154, 232);
    width: 25%;
    /* display: block; */
    color: white;
    border-radius: 6px;
    margin: 30px auto 50px auto;
}

.btn {
    all: initial;
}

.input-group>.form-control {
    flex: unset;
    border-radius: 0;
}

label {
    font-weight: unset;
}

.upload {
    margin-left: 20px;
    margin-top: 10px;
}

img{
    margin-left: 170px;
    margin-top: -50px;
}

.ptag {
    margin-left: 20px;
    width: 60%;
    margin-top: 10px;
    height: 30px;
}

.search_khoa{
    width: 59%;
}
.col1{
    width: 10%;
    padding: 5px;
}
.col2{
    width: 30%;
    padding: 5px;
}
.col3{
    width: 40%;
    padding: 5px;
}
.col4{
    padding: 5px;
}
button{
    margin-right: 2px;
    background-color: rgb(87, 137, 245);
    border: 1px solid rgb(87, 137, 245);
    color: #ffff;
}
.add{
    margin-left: 65%;
}
a{
    color: #ffff;
}
.btn_ser{
    margin-left: 25%;
}